<form method="post" action="/students">
  <label for="first-name">First name </label>
  <input id="first-name" type="text" name="first_name"/>

  <br></br>
  <label for="second-name">Last name </label>
  <input id="second-name" type="text" name="second_name"/>

  <br></br>
  <label for="house-select">Select a house</label>
  <select id="house-select" name="house">
  <option value=" Gryffindor">  Gryffindor </options>
  <option value="Ravenclaw"> Ravenclaw </options>
  <option value="Hufflepuff"> Hufflepuff </options>
  <option value="Slytherin"> Slytherin </options>
  </select>
<br></br>


<label for="age"> Age </label>
<input id="age" type="number" name="age"/>

<br></br>

<input type="submit" value="Enroll to Hogwarts"/>

</form>
